<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coloration.colo_ration_android" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ColoRation"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".mainColoration"
            android:label="@string/title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".roommateList" >
        </activity>
        <activity
            android:name=".roommateForm" >
        </activity>
        <activity
            android:name=".supplyList" >
        </activity>
        <activity
            android:name=".supplyForm" >
        </activity>
        <activity
            android:name=".taskList" >
        </activity>
        <activity
            android:name=".taskForm" >
        </activity>
        <activity
            android:name=".expenseList" >
        </activity>
        <activity
            android:name=".expenseForm" >
        </activity>
        <activity
            android:name=".eventList" >
        </activity>
        <activity
            android:name=".eventForm" >
        </activity>
    </application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>
